version: '3'
services:
  pwt-app:
    build:
      context: .
      dockerfile: Dockerfile
    image: callphone/pwt
    container_name: pwt-app
    restart: unless-stopped
    stdin_open: true
    tty: true
    volumes:
      - ./logs:/app/logs
    ports:
      - "3300:3300"
      - "3301:3301" # Socket Port
    working_dir: /app
